
</div><!--end of index container div -->
<footer class="footer">
	<div class="container">
		<p class="text-center"> <img src="/twitlibs-wh-footer.png"> &copy; 2014. All rights reserved.</p>
	</div>
</footer>
</body>
</html>