<% include partials/header %>


<div class="error">
	<h1 class="text-center">Page 404</h1>
	<h3 class="text-center">These are not the droids you're looking for.</h3>
	<p class="text-center"> We suggest you play a <a href="/">game</a>. Or if you're not into that kinda thing, you could get your <a href="https://www.youtube.com/watch?v=h7l8rWfLAus" target="_blank">droid fix here</a>.</p>
	
	
</div>



<% include partials/footer %>