<% include partials/header %>


<div class="about">
	<h1 class="text-center">About TwitLibs</h1>
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<br/><img src="/twit-teef.jpg">
		</div>
		<div class="col-md-4">
			<br/>

			<p>TwitLibs was dreamed up by Wyoming Telford, a photographer, designer, and fledgling web-app programmer. You can see more of her stuff on <a href="http://github.com/JustWyoming" target="_blank">GitHub</a>, and on her <a href="http://wyomingtelford.com" target="_blank">pretty page</a>. (It's seriously pretty). If you'd rather send money, gifts or jokes (or ask questions), you could also just <a href="mailto:wyomingt@gmail.com?Subject=TwitLib%20Shout%20Out" target="_top">email</a>her. </p>

			<p>Wyoming created TwitLibs out of a deep love for Madlibs, a cultivated appreciatiion for absurdist humor, and a sincere belief that hashtags serve no actual purpose. (Unless, of course you're at a certain type of cafe in Amsterdam, in which case, we recommend hashtagging a minimum of 2-3 times per day).</p>
		</div>
	</div>
</div>



<% include partials/footer %>