<% include partials/header %>
	<div class="carousel">
	
	
	<h2 class="text-center">TwitLib Hall of Fame:</h2>
	<% for(var i=0; i < data.length; i++){ %>
			<div class="smallBoard col-md-4"><p class="smFont" ><a href="/fame/<%= data[i].id%>"><%= data[i].user_twitlibs%></a></p></div>
			
		<% } %>

	</div>


<% include partials/footer %>