<% include partials/header %>
<div class="container">
	<div class="row">
	<div class="twitLib-container">
	<h1>text</h1>
	<form action='/hashtag' method="post">
		<input type="text" name="hash" placeholder="please enter a hashtag">
		<input type="submit" name="getTwit" value="Get TwitLib">
	</form>
	
	</div>
	<div class="templates">
	</div>
	</div>
</div><!--end of index container div -->


<% include partials/footer %>