<% include partials/header %>
	
	<div class="rules">
	<h1 class="text-center"> How to play</h1>
	<div class="row">
	<div class= "col-md-8 col-md-offset-3">
	<br/><p>No one likes a bunch of rules, so we'll keep it simple.</p>
		<ol>
			<li>Choose a TwitLib template from the drop down list.</li>
			<li>The title above the text field will prompt you to enter a type of word or words.</li>
			<li>Press the Get TwitLib button and watch Twitter magic occur.</li>
			<li>Keep playing until you get a template you like, then save to our Hall of Fame.</li>
			<li>Share your Hall of Fame TwitLib with your friends on MyTwitFace, or whatever social media site the kids are using these days.</li>
		</ol>
	</div>
	</div>
	</div>

	<div class="about">
	<h1 class="text-center">About TwitLibs</h1>
	<div class="row">
	<div class="col-md-4 col-md-offset-2">
	<br/><img src="/twit-teef.jpg">
	</div>
	<div class="col-md-4">
	<br/><p>TwitLibs was created out of a deep love for Madlibs, a cultivated appreciatiion for absurdist humor, and a sincere belief that hashtags serve no actual purpose. (Unless, of course you're at a certain type of cafe in Amsterdam, in which case, we recommend hashtagging a minimum of 2-3 times per day).</p>
	</div>
	</div>
	</div>



<% include partials/footer %>