<% include partials/header %>

<div class="rules">
	<h1 class="text-center"> How to play</h1>
	<div class="row">
		<div class= "col-md-8 col-md-offset-3">
			<br/><p>No one likes a bunch of rules, so we'll keep it simple.</p>
			<ol>
				<li>Choose a TwitLib template from the drop down list.</li>
				<li>The title above the text field will prompt you to enter a type of word or words.</li>
				<li>Press the Get TwitLib button and watch Twitter magic occur.</li>
				<li>Keep playing until you get a template you like, then save to our Hall of Fame.</li>
				<li>Share your Hall of Fame TwitLib with your friends on MyTwitFace, or whatever social media site the kids are using these days.</li>
			</ol>
			<p>But wait! What's a Madlib? What's a Twitter? What's a Mashup?</p>
			<ol>
				<li>A <a href="http://www.urbandictionary.com/define.php?term=Madlib&defid=1337919" target="_blank">Madlib</a> is only the best old-school word game around.</li>
				<li><a href="https://about.twitter.com/what-is-twitter" target="_blank">What's a Twitter?</a> Seriously? It might be time to ask the younguns to show you how your computer works.</li>
				<li>A Mashup is like when chocolate met peanut butter, or Vanilla Ice ripped off Queen. It puts two unlikely things together, and makes a dubious sort of magic.</li>
			</ol>

		</div>
	</div>
</div>





<% include partials/footer %>